:root {
    --off-white: #fff8f0;
}

body {
  font-family: sans-serif;
  background-color: var(--off-white);
}
#score-link {
  color: #9c06c2;
  text-decoration: underline;
}
.card {
    position: absolute;
    background-color: var(--off-white);
    top: 15%;
    left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.card-body {
    border: 10px solid black;
    font-size: 25px;
    font-weight: 500;
    box-shadow: 5px 0px 15px black;    
}

#start-wrapper {
    flex: 1 0 0px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 16px 16px 16px 16px;
    min-height: 50px;
}
#start-quiz {
    /* bottom: 0px; */
    margin: 0px;
    text-align: center;
}
.btn {
  border: none;
  background-color: hsl(293, 92%, 19%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    padding: 14px 34px;
    text-align: left;
    cursor: pointer;
    margin: 10px 100px 15px 10px;
    min-height: 30px;
  }
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#buttonWrapper{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#submit {
  margin: 5px 10px 5px 10px;
  border: none;
  background-color: hsl(293, 92%, 19%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
  0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 500;
}

.text-input {
  line-height: 15px;
  font-size: 15px;
}

#score-wrapper{
  display: none;
}
#scoreboard {
  color: black;
}
.high-score {
  background-color: #9c06c280;
  margin: 5px 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
    .card-body {
      font-size: 1rem;
    }
    h2{
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
    font-size: 0.8rem;
  }
  .card-body {
    font-size: .8rem;
  }
  h2{
    font-size: 1rem;
  }
}

